<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.batistest.model.User">

    <resultMap type="User" id="userMap">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
    </resultMap>
	
    <resultMap type="com.batistest.dto.UserDTO" id="userDTOMap">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
    </resultMap>

    <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO 
                user (username, password) 
            VALUES 
                (#{userName}, #{password})
        ]]>
    </insert>

    <select id="getById" parameterType="Integer" resultMap="userMap">
        <![CDATA[
            SELECT * FROM user WHERE id = #{id}
        ]]>
    </select>
	
    <select id="findUsers" resultMap="userDTOMap" parameterType="map">
        <![CDATA[
            SELECT * FROM user ORDER BY id ASC
        ]]>
    </select>

    <update id="update" parameterType="User">
        <![CDATA[
            UPDATE user 
            SET 
                username = #{userName}
            WHERE 
                id = #{id}
        ]]>
    </update>
	
    <delete id="delete" parameterType="int">
        <![CDATA[
            DELETE FROM user WHERE id = #{id}
        ]]>
    </delete>

</mapper>