.address-book {
  h1 {
    text-align: center;
  }
  a {
    color: #222;
    text-decoration: none;
    position: relative;
    display: block;
    &:hover, &:focus {
      text-decoration: underline;
    }
    .sort-arrow {
      border: 4px solid transparent;
      content: "";
      display: block;
      height: 0;
      right: 5px;
      top: 50%;
      position: absolute;
      width: 0;
      &.sort-arrow-up {
        border-bottom-color: #666;
        margin-top: -7px;
      }
      &.sort-arrow-down {
        border-top-color: #666;
      }
    }
    &[disabled=disabled] {
      .sort-arrow {
        display: none;
      }
    }
  }
  input {
    height: 35px;
    width: 200px
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #1779ba;
    color: #fefefe;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    margin-right: 10px;
    cursor: pointer;

    &.add-item {
      margin-bottom: 15px;
      margin-left: 35px;
    }
    &.delete-item {
      background-color: #cc4b37;
    }
    &.save-item {
      background-color: #3adb76;
      color: #0a0a0a;
    }

    &[disabled=disabled] {
      background-color: #767676;
      color: #fefefe;
      cursor: default;
    }

  }

  table {
    width: 96%;
    margin: 0 auto;
    border-radius: 3px; }
  table thead,
  table tbody,
  table tfoot {
    border: 1px solid #f1f1f1;
    background-color: #fefefe; }
  table caption {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold; }
  table thead {
    background: #f8f8f8;
    color: #0a0a0a; }
  table tfoot {
    background: #f1f1f1;
    color: #0a0a0a; }
  table thead tr,
  table tfoot tr {
    background: transparent; }
  table thead th,
  table thead td,
  table tfoot th,
  table tfoot td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: left; }
  table tbody th,
  table tbody td {
    padding: 0.5rem 0.625rem 0.625rem;
    width: 16%;}
  table tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #f1f1f1; }
  table.unstriped tbody {
    background-color: #fefefe; }
  table.unstriped tbody tr {
    border-bottom: 0;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fefefe; }
}



