<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>testServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestAjaxServlet</display-name>
    <servlet-name>TestAjaxServlet</servlet-name>
    <servlet-class>com.augmentum.servlet.TestAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestAjaxServlet</servlet-name>
    <url-pattern>/TestAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestRedirectServlet</display-name>
    <servlet-name>TestRedirectServlet</servlet-name>
    <servlet-class>com.augmentum.servlet.TestRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRedirectServlet</servlet-name>
    <url-pattern>/TestRedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestForwardServlet</display-name>
    <servlet-name>TestForwardServlet</servlet-name>
    <servlet-class>com.augmentum.servlet.TestForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestForwardServlet</servlet-name>
    <url-pattern>/TestForwardServlet</url-pattern>
  </servlet-mapping>
</web-app>